<main>
  <form [formGroup]="depotTransferForm">
    <div>
      <mat-form-field>
        <mat-label>Source depot</mat-label>
        <mat-select formControlName="sourceDepot" id="sourceDepotSelect">
          <mat-option *ngFor="let depot of getUnselectedDepots(depotTransferForm.controls.targetDepot.value)" [value]="depot.id">{{depot.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Target depot</mat-label>
        <mat-select formControlName="targetDepot" id="targetDepotSelect">
          <mat-option *ngFor="let depot of getUnselectedDepots(depotTransferForm.controls.sourceDepot.value)" [value]="depot.id">{{depot.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Number of boxes</mat-label>
      <mat-slider id="numberOfBoxesSlider" min="0" [max]="maximumNumberOfBoxesInSelectedSourceDepot" step="1" value="1" [disabled]="!sourceSelected">
        <input matSliderThumb formControlName="numberOfBoxes" id="numberOfBoxesInput">
      </mat-slider>
      <textarea matInput hidden></textarea>
      <label class="number-of-boxes-value-label">{{depotTransferForm.controls.numberOfBoxes.value}}</label>
    </mat-form-field>
  </form>
</main>

<router-outlet />